<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ben.dal.mapper.NotifyRecordMapper">
  <resultMap id="BaseResultMap" type="com.cn.ben.api.model.po.NotifyRecord">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="notify_method" jdbcType="TINYINT" property="notifyMethod" />
    <result column="notify_header" jdbcType="VARCHAR" property="notifyHeader" />
    <result column="notify_param_type" jdbcType="TINYINT" property="notifyParamType" />
    <result column="notify_timeout" jdbcType="SMALLINT" property="notifyTimeout" />
    <result column="notify_times" jdbcType="SMALLINT" property="notifyTimes" />
    <result column="notify_status" jdbcType="TINYINT" property="notifyStatus" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
    <result column="business_id" jdbcType="VARCHAR" property="businessId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cn.ben.api.model.po.NotifyRecord">
    <result column="notify_param" jdbcType="LONGVARCHAR" property="notifyParam" />
  </resultMap>
  <sql id="Base_Column_List">
    id, notify_url, notify_method, notify_header, notify_param_type, notify_timeout, 
    notify_times, notify_status, business_name, business_id, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    notify_param
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_notify_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_notify_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cn.ben.api.model.po.NotifyRecord">
    insert into t_notify_record (id, notify_url, notify_method, 
      notify_header, notify_param_type, notify_timeout, 
      notify_times, notify_status, business_name, 
      business_id, create_time, update_time, 
      notify_param)
    values (#{id,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, #{notifyMethod,jdbcType=TINYINT}, 
      #{notifyHeader,jdbcType=VARCHAR}, #{notifyParamType,jdbcType=TINYINT}, #{notifyTimeout,jdbcType=SMALLINT}, 
      #{notifyTimes,jdbcType=SMALLINT}, #{notifyStatus,jdbcType=TINYINT}, #{businessName,jdbcType=VARCHAR}, 
      #{businessId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{notifyParam,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.ben.api.model.po.NotifyRecord">
    insert into t_notify_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="notifyUrl != null">
        notify_url,
      </if>
      <if test="notifyMethod != null">
        notify_method,
      </if>
      <if test="notifyHeader != null">
        notify_header,
      </if>
      <if test="notifyParamType != null">
        notify_param_type,
      </if>
      <if test="notifyTimeout != null">
        notify_timeout,
      </if>
      <if test="notifyTimes != null">
        notify_times,
      </if>
      <if test="notifyStatus != null">
        notify_status,
      </if>
      <if test="businessName != null">
        business_name,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="notifyParam != null">
        notify_param,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null">
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyMethod != null">
        #{notifyMethod,jdbcType=TINYINT},
      </if>
      <if test="notifyHeader != null">
        #{notifyHeader,jdbcType=VARCHAR},
      </if>
      <if test="notifyParamType != null">
        #{notifyParamType,jdbcType=TINYINT},
      </if>
      <if test="notifyTimeout != null">
        #{notifyTimeout,jdbcType=SMALLINT},
      </if>
      <if test="notifyTimes != null">
        #{notifyTimes,jdbcType=SMALLINT},
      </if>
      <if test="notifyStatus != null">
        #{notifyStatus,jdbcType=TINYINT},
      </if>
      <if test="businessName != null">
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyParam != null">
        #{notifyParam,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.ben.api.model.po.NotifyRecord">
    update t_notify_record
    <set>
      <if test="notifyUrl != null">
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyMethod != null">
        notify_method = #{notifyMethod,jdbcType=TINYINT},
      </if>
      <if test="notifyHeader != null">
        notify_header = #{notifyHeader,jdbcType=VARCHAR},
      </if>
      <if test="notifyParamType != null">
        notify_param_type = #{notifyParamType,jdbcType=TINYINT},
      </if>
      <if test="notifyTimeout != null">
        notify_timeout = #{notifyTimeout,jdbcType=SMALLINT},
      </if>
      <if test="notifyTimes != null">
        notify_times = #{notifyTimes,jdbcType=SMALLINT},
      </if>
      <if test="notifyStatus != null">
        notify_status = #{notifyStatus,jdbcType=TINYINT},
      </if>
      <if test="businessName != null">
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyParam != null">
        notify_param = #{notifyParam,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.ben.api.model.po.NotifyRecord">
    update t_notify_record
    set notify_url = #{notifyUrl,jdbcType=VARCHAR},
      notify_method = #{notifyMethod,jdbcType=TINYINT},
      notify_header = #{notifyHeader,jdbcType=VARCHAR},
      notify_param_type = #{notifyParamType,jdbcType=TINYINT},
      notify_timeout = #{notifyTimeout,jdbcType=SMALLINT},
      notify_times = #{notifyTimes,jdbcType=SMALLINT},
      notify_status = #{notifyStatus,jdbcType=TINYINT},
      business_name = #{businessName,jdbcType=VARCHAR},
      business_id = #{businessId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      notify_param = #{notifyParam,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.ben.api.model.po.NotifyRecord">
    update t_notify_record
    set notify_url = #{notifyUrl,jdbcType=VARCHAR},
      notify_method = #{notifyMethod,jdbcType=TINYINT},
      notify_header = #{notifyHeader,jdbcType=VARCHAR},
      notify_param_type = #{notifyParamType,jdbcType=TINYINT},
      notify_timeout = #{notifyTimeout,jdbcType=SMALLINT},
      notify_times = #{notifyTimes,jdbcType=SMALLINT},
      notify_status = #{notifyStatus,jdbcType=TINYINT},
      business_name = #{businessName,jdbcType=VARCHAR},
      business_id = #{businessId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>